/* * Root */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --accent-color: #e74c3c;
  --text-color: #333;
  --light-bg: #f8f9fa;
  --white: #ffffff;
  --transition: all 0.3s ease;
}

/* * Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero-banner.jpg") center/cover;
  color: var(--white);
  padding: 0 1rem;
}

.hero .hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero .hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero .hero-content button {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}

.hero .hero-content button:hover {
  box-shadow: 0 5px 15px rgba(52, 152, 219, 0.3);
  transform: translateY(-3px);
}

/* * Announcements */
.announcements {
  padding: 4rem 5%;
  background-color: var(--light-bg);
}

.announcements .announcements-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.announcements .announcements-wrapper .announcements-card {
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}

.announcements .announcements-wrapper .announcements-card i {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.announcements .announcements-wrapper .announcements-card h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.announcements .announcements-wrapper .announcements-card:hover {
  transform: translateY(-5px);
}

/* * Popular Products */
.popular-products {
  padding: 4rem 5%;
}

.popular-products h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 2rem;
}

.popular-products .products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.popular-products .products-wrapper .product-card {
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: var(--transition);
}

.popular-products .products-wrapper .product-card:hover {
  transform: translateY(-5px);
}

.popular-products .products-wrapper .product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.popular-products .products-wrapper .product-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.popular-products .products-wrapper .product-card p {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5;
}

.popular-products .products-wrapper .product-card button {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5px;
}

.popular-products .products-wrapper .product-card button:hover {
  background-color: var(--primary-color);
}
